@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@keyframes zoomInText {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Aumenta un poco el tamaño para el efecto de zoom */
  }
  100% {
    transform: scale(1);
  }
}
.birthday-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.022);
  color: #03A9F4; /* Texto en azul claro */
  font-family: 'Poppins', sans-serif;
  z-index: 2;
  animation: scaleUp 5s ease-in-out infinite;
  overflow: hidden;
}

.birthday-message {
  position: relative; /* Asegura que el texto esté correctamente posicionado sobre las partículas */
  z-index: 2; /* Texto sobre partículas */
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  animation: scaleUp 5s ease-in-out infinite;
  color: #03A9F4; /* Azul claro */
}


.sub-message {
  position: relative; /* Asegura que el texto esté correctamente posicionado sobre las partículas */
  z-index: 2; /* Texto sobre partículas */
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
  animation: fadeIn 3s ease-in-out infinite;
  color: #03A9F4; /* Azul claro */
}
@keyframes zoomInParticles {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Un efecto de zoom más sutil para las partículas */
  }
  100% {
    transform: scale(1);
  }
}


.particles-container {
  position: absolute; /* Cambiado a absoluto */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1; /* Partículas detrás del texto */
  animation: scaleUp 5s ease-in-out infinite;
}
@keyframes changeColor {
  0% { background-color: #e70303; } /* Rojo */
  25% { background-color: #03A9F4; } /* Azul claro */
  50% { background-color: #ff0; } /* Amarillo */
  75% { background-color: #ff69b4; } /* Rosa */
  100% { background-color: #e70303; } /* Rojo */
}

.particle {
  opacity: 1; /* Aumentar la opacidad para mayor visibilidad */
  width: 10px; /* Ajustar el tamaño según sea necesario */
  height: 10px;
  position: absolute;
  border-radius: 50%;
  animation: float 5s ease-in-out infinite, changeColor 10s infinite;
}

/* Ejemplo de animación, ajusta según sea necesario */
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

/* Asegúrate de dar diferentes tamaños y posiciones iniciales a tus partículas */
.particle:nth-child(1) {
  width: 5px;
  height: 5px;
  top: 20%;
  left: 25%;
  animation-duration: 4s;
}

.particle:nth-child(2) {
  width: 8px;
  height: 8px;
  top: 70%;
  left: 80%;
  animation-duration: 6s;
}

.particle:nth-child(3) {
  width: 3px;
  height: 3px;
  top: 50%;
  left: 10%;
  animation-duration: 8s;
}





/* Animaciones */
@keyframes scaleUp {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
