<div class="particles-container"><app-particles></app-particles> <app-emoticon-particles></app-emoticon-particles></div>


<div class="birthday-container">
  <h1 class="birthday-message">¡Feliz Cumpleaños Madre hermosa!</h1>
  <p class="sub-message">🎁💃🎉Espero que disfrutes mucho este día especial.🎉</p>
  <p class="sub-message">Para mi madre hermosa, Carmen Reyes, la amo * 2.</p>
  <img class="mami" src="../../assets/mami.jpeg" alt="">
  <p class="sub-message">No tengo dinero pero si creatividad, la amo.</p>
</div>
